<div class="login-page">
  <h2 class="page-title"><img class="logo" src="https://github.com/renanxd25/docapp/blob/appDoc/src/app/components/assets/logo_eq.png?raw=true"></h2>
  <p class="page-subtitle">{{ isLoginMode() ? 'NOC Atendimentos' : 'Preencha seus dados para começar' }}</p>
  <form class="login-card" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    
    <div class="input-group" *ngIf="!isLoginMode()">
      <label for="displayName">Seu Nome</label>
      <input 
        type="text" 
        id="displayName" 
        name="displayName" 
        ngModel 
        #nameInput="ngModel"
        [required]="!isLoginMode()"
      >
    </div>
    
    <div class="input-group">
      <label for="email">Email</label>
      <input 
        type="email" 
        id="email" 
        name="email" 
        ngModel 
        required 
        email
      >
    </div>
    
    <div class="input-group">
      <label for="password">Senha</label>
      <input 
        type="password" 
        id="password" 
        name="password" 
        ngModel 
        required
        minlength="6"
      >
    </div>

    <p *ngIf="error" class="error">{{ error }}</p>
    
    <button type="submit" class="submit-btn" [disabled]="authForm.invalid || loading">
      {{ loading ? 'Aguarde...' : (isLoginMode() ? 'Entrar' : 'Cadastrar') }}
    </button>

    <!--<a (click)="toggleMode()" class="toggle-link">
      {{ isLoginMode() ? 'Não tem conta? Cadastre-se' : 'Já tem conta? Faça login' }}
    </a>-->
  </form>
</div>