<div class="login-page">
  <h2 class="page-title">
    <img class="logo" src="https://github.com/renanxd25/docapp/blob/appDoc/src/app/components/assets/logo_eq.png?raw=true" alt="Logo">
  </h2>
  
  <p class="page-subtitle">{{ isLoginMode() ? 'NOC Atendimentos' : 'Preencha seus dados para começar' }}</p>
  <p class="page-subtitle2">Gerenciamento inteligente e eficaz com o NOC</p>
  
  <form class="login-card" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    
    <div class="input-group" *ngIf="!isLoginMode()">
      <label for="displayName">Seu Nome</label>
      <input 
        type="text" 
        id="displayName" 
        name="displayName" 
        ngModel 
        #nameInput="ngModel"
        placeholder="Como gostaria de ser chamado?"
        [required]="!isLoginMode()"
      >
    </div>
    
    <div class="input-group">
      <label for="email">Email</label>
      <div class="input-with-icon">
        <svg xmlns="http://www.w3.org/2000/svg" class="field-icon" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
            <polyline points="22,6 12,13 2,6"></polyline>
        </svg>
        <input 
            type="email" 
            id="email" 
            name="email" 
            ngModel 
            required 
            email
            placeholder="Email"
        >
      </div>
    </div>
    
    <div class="input-group password-wrapper">
      <label for="password">Senha</label>
      <div class="input-container input-with-icon">
        <svg xmlns="http://www.w3.org/2000/svg" class="field-icon" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
            <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
        </svg>

        <input 
          [type]="showPassword() ? 'text' : 'password'" 
          id="password" 
          name="password" 
          ngModel 
          required
          minlength="6"
          placeholder="Senha"
        >
        <button type="button" class="toggle-password-btn" (click)="togglePasswordVisibility()">
          <svg *ngIf="showPassword()" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
            <circle cx="12" cy="12" r="3"></circle>
          </svg>
          <svg *ngIf="!showPassword()" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path>
            <line x1="1" y1="1" x2="23" y2="23"></line>
          </svg>
        </button>
      </div>
    </div>

    <p *ngIf="error()" class="error">
      {{ error() }}
    </p>
    
    <button type="submit" class="submit-btn" [disabled]="authForm.invalid || loading">
      {{ loading ? 'Aguarde...' : (isLoginMode() ? 'Entrar' : 'Cadastrar') }}
    </button>
  </form>
</div>